.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 200;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    position: relative;
}

.hamburger span {
    height: 3px;
    width: 35px;
    background: white;
    margin: 5px 0;
    transition: 0.4s;
}

.nav-links {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, visibility 0s;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 0;
    font-size: 1.3em;
    text-align: left;
    transition: color 0.3s;
    padding-left: 20px;
}

.nav-links a:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        left: 10px;
    }

    header {
        display: flex;
        justify-content: flex-start;
        padding: 30px 30px;
    }
    .navigation-bar.open .nav-links{
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        opacity: 1;
        visibility: visible;
        max-height: 500px;
        transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, visibility 0s;
    
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-0px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(45deg) translate(-13px, -18px);
    }
}
